@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Roboto:wght@300&display=swap');

header {
    background-color: #aa183c;
    color: #fff;
    font-family: "Mountains of Christmas", serif;
    font-size: 40px;
    width: 768px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: border-radius: 16px 16px 0px 0px;;
}

main {
background-color: #c33155;
    width: 768px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}

body {
background-color: #c9baa6;
}

.card {
    font-size: 40px;
    margin: 20;
    background-color: #fff;
    border-radius: 20px 20px 20px 20px;
    color: #ff0000;
}